name: Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js "18"
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: 'Install Dependencies'
        run: |
          bun install

      - name: 'Test'
        run: |
          bun test --coverage
